
.main-contain{
    height: calc(100vh - 110px);
    margin: 30px;
    padding-right: calc(100vw - 100% - $sideBarWidth);
}

::v-deep .el-table thead tr th{
    background: $commonBgColor;
    color: #fff
  }

  ::v-deep .el-button{
      color: $commonBgColor;
      border: 1px solid $commonBgColor;
  }

.commonButton{
    background: $commonBgColor !important;
    color: #fff !important;
}

.commonTitle{
    min-width: fit-content;
    width: fit-content;
    white-space: nowrap;
    margin: 0 10px 0 5px;
    align-items: center;
    box-sizing: border-box;
}

::v-deep .el-drawer__header{
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #DCDFE6;
  padding-bottom: 10px;
  span{
      white-space: nowrap;
      font-size: 16px;
      font-weight: 700;
  }
}
::v-deep .el-drawer__body{
  margin:0 30px 30px 30px
}